PORT=3008
NODE_ENV=development
GLOBAL_PREFIX=api
CORS_ORIGINS=*
DATABASE_URL=postgresql://postgres:secret@localhost:5439/introduction_db
AUTH_JWKS_URL=http://localhost:3002/api/.well-known/jwks.json
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
